body {
    background-image: url("../resources/jumbotron.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

a {
    color: #fff !important;
}

a:hover {
    color: #fff !important;
}

.modal-title {
    color: #000;
}

.carousel-indicators li {
    background-color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 25%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #000;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #000;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

h4 {
    color: orange
}

strong {
    color: orange;
}

h6 {
    font-size: 13px;
}

.container-fluid {
    color: #fff;
    padding: 20px 50px;
}

.resume {
    background-color: #00000071;
}

.projects {
    height: 100vh;
    margin-bottom: 0;
}

.footer .container-fluid {
    padding: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer a,
p {
    margin: 3px;
}

.navbar {
    position: absolute;
    padding: 0 15px;
    top: 0;
    width: 100%;
    font-size: 20px;
    background-color: #00000071;
}

.navbar-nav {
    flex-direction: row;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar-expand-lg .navbar-toggler {
    display: none !important;
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.display-5 {
    margin: 0;
    text-align: center;
}

.jumbotron-text {
    background-color: #00000071;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 64px;
    background-color: transparent;
    height: 100vh;
    margin-bottom: 0;
}

.btn {
    margin-bottom: 5px;
    color: #fff;
    padding: 3px;
}

.col {
    text-align: center;
}

hr {
    margin: 0;
    border: none;
}

.no-dec {
    list-style-type: none;
}

.card-deck {
    justify-content: space-evenly;
}

.card {
    border: 1px solid #fff;
    background-color: #161616;
    max-width: 400px;  
    margin-bottom: 10px !important;
    overflow: hidden;
}

.card-subtitle {
    color: orange;
}

.toTopBtn {
    display: none;
    position: fixed;
    bottom: 1px;
    right: 1px;
    z-index: 1;
    border: none;
    background: none;
    padding: 0;
    color: #fff;
}

.fa-arrow-up {
    font-size: 50px;
}

@media (min-width: 600px) {
    .navbar-expand-lg .navbar-collapse {
        flex-basis: auto;
        display: flex !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

@media (max-width: 897px) {
    .card {
        max-width: 350px;
        min-width: 250px;
    }
}

@media (max-width: 600px) {
    .navbar-expand-lg .navbar-toggler {
        display: inline-block !important;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .card-deck {
        align-items: center;
    }

    .footer .container-fluid {
        flex-flow: column
    }

}


